:root {
   --background: hsl(222, 26%, 31%);
   --btn-bg: #E9E4DB;
   --btn-color-number: #434A5A; 
   --keypad-bg: hsl(223, 31%, 20%);
   --text: hsl (221, 14%, 31%);
}

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   font-family: 'Spartan', sans-serif;
   background: var(--background);
   font-size: 32px;
}

main {
   display: flex;
   flex-direction: column;
   max-width: 380px;
   margin: 3rem auto;
   border-radius: 10px;
}

header {
   display: flex;
   justify-content: space-between;
   align-items: flex-end;
   width: 100%;
   margin: auto;
   color: #FEFFFF;
}

header h1 { font-size: 1.5rem; }

.theme {
   display: flex;
   align-items: center;
   position: relative;
   text-transform: uppercase;
   font-size: .8rem;
}

.theme p { margin-right: 1rem; }

.error { color: rgb(214, 33, 33); }

.alter-theme {
   position: relative;
   width: 50px;
   height: 20px;
   background: rgba(15, 15, 15, 0.555);
   border-radius: 10px;
   cursor: pointer;
}

.alter-theme::after {
   content: '1 2 3';
   display: block;
   position: absolute;
   top: -20px;
   width: 100%;
   text-align: center;
   letter-spacing: 3px;
}

.alter-theme::before {
   content: '';
   display: block;
   position: absolute;
   top: 3px;
   left: 5px;
   width: 14px;
   height: 14px;
   background: #D13E33;
   border-radius: 100%;
   transition: .3s;
}

.theme2 .alter-theme::before { left: 16px; }

.theme3 .alter-theme::before { left: 30px; }

#result {
   width: 100%;
   height: 100px;
   margin: 1rem auto;
   padding: 2rem 0;
   background: rgba(0, 0, 0, 0.425);
   color: rgba(255, 255, 255, 0.965);
   text-align: right;
   font-size: 2.2rem;
   font-weight: bold;
   line-height: 40px;
   border-radius: 7px;
}

#result div {
   width: 80%;
   margin: auto;
   overflow-y: hidden;
}

#result div::-webkit-scrollbar {
   width: auto;
   height: 2px;
}

#result div::-webkit-scrollbar-track {
   background: rgba(0, 0, 0, 0.185);
}

#result div::-webkit-scrollbar-thumb {
   background-color: rgba(231, 231, 231, 0.123);    /* color of the scroll thumb */
   border-radius: 10px;       /* roundness of the scroll thumb */
}

#result p:focus { outline: none; }

#calculator {
   display: flex;
   flex-direction: column;
   width: 100%;
   padding: 1rem 10%;
   margin: auto;
   background: var(--keypad-bg);
   border-radius: 7px;
}

.list-btn {
   display: flex;
   justify-content: space-between;
   width: 100%;
   text-align: center;
   color: var(--btn-color-number);
   font-size: 1.5rem;
   font-weight: bold;
   margin: 3px;
}

.list-btn span,
.list-btn button {
   background: var(--btn-bg);
   flex-basis: 4.2rem;
   padding: 6px 0;
   margin: 4px 0;
   border-bottom: 3px solid #B2A396;
   border-radius: 5px;
   cursor: pointer;
   font-weight: bold;
}

.list-btn button {
   border: none;
   border-bottom: 3px solid #424E73;
   font-size: .95rem;
}

#del {
   color: white;
   background: #64729B;
}

.list-btn:last-child button {
   flex-basis: 48%;
   margin-bottom: 1rem;
   padding: 12px 0;
   color: white;
}

.list-btn .reset { background: #64729B; }

.list-btn:last-child button:last-child {
   background: #D13F30;
   font-weight: bolder;
   border-bottom-color: #93251A;
}

.attribution {
   font-size: 1rem;
   text-align: center;
   margin-top: 5%;
}

.attribution p {
   margin-bottom: .7rem;
   color: rgb(255, 255, 255);
   font-weight: normal;
}

.attribution a { color: hsl(228, 7%, 87%); }
